.grid{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    width: 20%;
    margin: auto;
    margin-top: 20px;
}

button{
    width: 100%;
    padding: 10px 0;
}

.display{
    grid-column-start: 1;
    grid-column-end: 5;
}

.display input{
    width: 98%;
    padding: 10px 0;
}

.C{
    grid-column-start: 1;
    grid-column-end: 3;
}

.cero{
    grid-column-start: 1;
    grid-column-end: 3;
}