.planeta {
  margin: 10px;
  cursor: pointer;
  font-size: medium;
}

.planeta:hover {
  color: rgb(100, 92, 122);
  font-weight: bold;
}

#datos {
  margin: 15px;
  padding: 15px;
  border: white solid 3px;
  font-size: medium;
  width: 60%;
}

.caja {
  display: flex;
  flex-direction: row;
}
