.container{
    max-width: 1500px;
    margin: auto;
}

.container .row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.divPeliculas h2, .divInformacion .tituloInformacion, .divActores h2, .divCaractActor h2{
    text-align: center;
    font-family: 'Calibri';
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.row .divPeliculas{
    flex-basis: 20%;
}

.row .divInformacion{
    flex-basis: 30%;
}

.row .divActores{
    flex-basis: 20%;
}

.row .divCaractActor{
    flex-basis: 20%;
}

.listadoPeliculas, .divActores{
    text-align: center;
    padding-left: 0;
}

.listadoPeliculas .titulo{
    list-style: none;
    padding: 10px 0;
    font-size: 20px;
}

.listadoPeliculas li{
    cursor: pointer;
}

.divInformacion{
    text-align: center;
}

.divInformacion .tituloEpisodio{
    color: #ff0000;
}

.divInformacion h3, .divInformacion h4{
    color: #212121;
}

.divInformacion p{
    text-align: justify;
}

.divActores ul{
    padding-left: 0;
}

.divActores ul li{
    list-style: none;
    padding: 5px 0;
}

.caracteristica{
    text-align: center;
}